<% if doctor_signed_in? %>
  <%= render partial: '/home_pages/doctor' %>
<% end %>

<% if admin_signed_in? %>
  Admin: <%= current_admin.email %> <br>
  <%= link_to "edit", edit_admin_registration_path %> |
  <%= link_to "sign out", destroy_admin_session_path, method: :delete %> <br>
  <a href="/interface-for-admin">GOTO admin view</a>

<% end %>

<!-- <# @file_list.each do |file| %>
  <%# file %> <br>
<%# end %> -->
<!-- List of doctors <br>
<% @doctors.each do |a| %>
  <%= a.name %> <br>
<% end %> -->
